<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:name="com.example.gymlog.GymLogApp"

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_exercise"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bg_dialog_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        tools:targetApi="31" >

        <activity
            android:name=".feature.program.ui.TrainingBlocksActivity"
            android:exported="false" />
        <activity
            android:name=".feature.program.ui.GymSessionsActivity"
            android:exported="false" />
        <activity
            android:name=".feature.program.ui.FitnessProgramsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApp" />
        <activity
            android:name=".feature.exercise.ui.ExerciseManagementActivity"
            android:exported="false" />
        <activity
            android:name=".feature.main.ui.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>